@model UIdESIGN.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<div class="card-content grey lighten-4" id="test2">
    <div class="card-header">
        <center><i class="fas fa-user-plus fa-8x"></i></center>
        <div class="card-body">
            <form class="offset-1" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row">
                    <div class="input-group col-md-11">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-3 border-md border-right-0">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input id="username" type="text" asp-for="Email" placeholder="Email" class="form-control border-left-0 border-md">
                    </div>
                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                </div>
                &nbsp;
                <div class="row">
                    <div class="input-group col-md-11">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-3 border-md border-right-0">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input id="Password" type="password" asp-for="Password" placeholder="Password" class="form-control border-left-0 border-md">
                    </div>
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
                &nbsp;
                <div class="row">
                    <div class="input-group col-md-11">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-3 border-md border-right-0">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input id="Password" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control border-left-0 border-md">
                    </div>
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
                &nbsp;
                <div class="row">
                    <div class="input-group col-md-11">
                        <div class="input-group">
                            <button type="submit" class="form-control btn btn-secondary btn-block"><span class="fas fa-paper-plane"></span> Register</button>
                            @*<input type="submit" value="Register" name="Save" class="form-control btn-block btn-secondary">*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


    @*<div class="container">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <form method="post" class="form-signin">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-label-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" id="inputEmail" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-label-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" id="pswd" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-label-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" id="pswd" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-lg btn-danger btn-block text-uppercase">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
