@using System.Data;
@model UIdESIGN.Models.Inquiry
@{
    ViewData["Title"] = "Order";
}
<style>
    #textgrop {
        position: absolute;
        margin-bottom: 0;
        margin-top: -30px;
        margin-left: 150px;
    }
</style>

<div class="mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-cart-plus"></i>History Purchase Order &nbsp;
            <form method="post" id="formdate">
                <div class="input-group col-md-8 offset-4" id="textgrop">
                    <div class="input-group-prepend">
                        <span class="input-group-text">StartDate</span>
                    </div>
                    <input type="date" id="date1" asp-for="startDate" required class="form-control col-md-4">
                    &nbsp;&nbsp;
                    <div class="input-group-prepend">
                        <span class="input-group-text">EndDate</span>
                    </div>
                    <input type="date" id="date2" asp-for="endDate" required class="form-control col-md-4">
                    &nbsp;&nbsp;
                    <button type="submit" id="sekret" class="form-control btn btn-success btn-block col-md-4"><span class="fas fa-paper-plane"></span> View Order</button>
                </div>
            </form>
        </div>
        <div class="loadtable">
            <table class="table table-hover table-bordered nav-tabs table-striped" id="datatable">
            </table>
        </div>
        <div class="card-footer">
            Card Footer
        </div>
    </div>
</div>

<div class="modal fade" id="edituser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Item Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="UserUpdate" enctype="multipart/form-data">
                    <div class="container" style="width:fit-content" id="updateInfo">
                        <br />
                        <div class="col-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><b>Item Name</b></span>
                                    </div>
                                    <input type="text" placeholder="Item Name" name="iName" id="iname" class="input-sm form-control" maxlength="30" />
                                    <center><b><span id="req1" style="color:red">Item Name is required</span><br /></b></center>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><b>Item Description</b></span>
                                    </div>
                                    <input type="text" placeholder="Item Description" name="iDesc" id="idesc" class="input-sm form-control" maxlength="30" />
                                    <center><b><span id="req2" style="color:red">Item Description is required</span><br /></b></center>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><b>Item Code</b></span>
                                    </div>
                                    <input type="text" placeholder="Item Code" name="iCode" id="icode" class="input-sm form-control" maxlength="30" />
                                    <center><b><span id="req3" style="color:red">Item Code is required</span><br /></b></center>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text spaniard"><b>Amount</b></span>
                                    </div>
                                    <input type="number" placeholder="Amount" name="Amount" id="amount" class="input-sm form-control" maxlength="30" />
                                    <center><b><span id="req4" style="color:red">Amount is required</span><br /></b></center>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text spaniard"><b>Quantity</b></span>
                                    </div>
                                    <input type="number" placeholder="Quantity" name="Quantity" id="quantity" class="input-sm form-control" maxlength="30" />
                                    <center><b><span id="req5" style="color:red">Quantity is required</span><br /></b></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="update" style="width:90px;color:white;">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:90px;color:white;">Close</button>
            </div>
        </div>
    </div>
</div>

@section OrderScript{
    <script type="text/javascript">
        var id = "";
        var iname = "";
        var idesc = "";
        var icode = "";
        var amount = "";
        var quantity = "";
        $(function () {
            $('#formdate').on('submit', function (e) {
                e.preventDefault();
                const formData = $('#formdate').serializeArray();
                $.ajax({
                    type: "POST",
                    data: formData,
                    dataType: 'json',
                    url: '@Url.Action("Order","Home")',
                    success: function (response) {
                        inQuiry(response);
                    },
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
            });

            $('#update').on('click', function (e) {
                    const formData = $('#UserUpdate').serialize();
                $.ajax({
                    type: 'POST',
                    cache: false,
                    data: formData,
                    url: '@Url.Action("Update","Home")?id=' + id + '',
                    success: function (response) {
                        if (response.isSuccess === true) {
                            Swal.fire({
                                allowOutsideClick: false,
                                title: 'Successful',
                                html: response.msg,
                                icon: 'success'
                            }).then(function () {
                                var table = $('#datatable').DataTable();
                                table.clear().draw();
                                table.destroy();
                                const formData = $('#formdate').serialize();
                                $.ajax({
                                    type: "POST",
                                    data: formData,
                                    dataType: 'json',
                                    url: '@Url.Action("Order","Home")',
                                    success: function (response) {
                                        inQuiry(response);
                                        $('#edituser').modal('hide');
                                    },
                                    failure: function (response) {
                                        alert(response.d);
                                    },
                                    error: function (response) {
                                        alert(response.d);
                                    }
                                });
                            });
                        } else {
                            Swal.fire({
                                allowOutsideClick: false,
                                title: 'Unsuccessful',
                                html: response.msg,
                                icon: 'warning'
                            }).then(function () {

                            })
                        }
                    }
                });
            });
        });
        function inQuiry(d) {
            if ($.fn.DataTable.isDataTable("#datatable")) {
                $("#datatable").DataTable().destroy();
            }
            $("#datatable").DataTable(
                {
                    data: d,
                    columns: [
                        { 'data': 'iname', "title": "Item Name" },
                        { 'data': 'idesc', "title": "Item Description" },
                        { 'data': 'icode', "title": "Item Code" },
                        { 'data': 'amount', "title": "Amount" },
                        { 'data': 'quantity', "title": "Quantity" },
                        { 'data': 'tdt', "title": "Transaction Date" },
                        {
                            'data': 'id', "title": "Action", "render": function (data, type, row) {
                                var n1 = row["iname"];
                                var n2 = row["idesc"];
                                var n3 = row["icode"];
                                var n4 = row["amount"];
                                var n5 = row["quantity"];

                                return '<button class="btn btn-sm btn-success" onclick="funclick(\'' + data + '\', \'' + n1 + '\', \'' + n2 + '\', \'' + n3 + '\', \'' + n4 + '\', \'' + n5 + '\')" data-toggle="modal" data-target="#edituser" style="width:50px;"><span class="fas fa-user-edit"></span></button>' +
                                    '<button class="btn btn-sm btn-danger" id="btnRemove" onclick="remove(\'' + data + '\')" style="width:50px;"><span class="fas fa-trash"></span></button>'
                            }
                        }
                    ]

                });
        }
        function funclick(ID,n1, n2, n3, n4, n5) {
            reset();
            id = ID;
            iname = $('#iname').val(n1);
            idesc = $('#idesc').val(n2);
            icode = $('#icode').val(n3);
            amount = $('#amount').val(n4);
            quantity = $('#quantity').val(n5);
        }
        function reset() {
            //$('#id').css("border-color", "gray"); $('#req0').hide();
            $('#iname').css("border-color", "gray"); $('#req1').hide();
            $('#idesc').css("border-color", "gray"); $('#req2').hide();
            $('#icode').css("border-color", "gray"); $('#req3').hide();
            $('#amount').css("border-color", "gray"); $('#req4').hide();
            $('#quantity').css("border-color", "gray"); $('#req5').hide();
        }

        function remove(id_item) {
            //var table = $('#datatable').DataTable();
            Swal.fire({
                title: 'Confirmation!',
                text: 'Do you want to proceed?',
                icon: 'information',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Yes',
                denyButtonText: 'Cancel',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'get',
                        data: JSON.stringify({ 'id': id_item }),
                        url: '@Url.Action("Remove","Home")?id='+id_item+'',
                        success: function (data) {
                            if (data.hasOwnProperty('isSuccess') && data.isSuccess === true)
                            {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    title: 'Deleted!',
                                    html: data.msg,
                                    icon: 'success'
                                }).then(function () {
                                    $(row).closest('tr').remove(); 
                                });
                            }
                        }
                    });
                }

            });
        }

    </script>
}
